<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Instagram Clone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if signed_in? %>
          <li class="nav-item">
            <%= link_to 'Home', accounts_path, class: "nav-link #{active_class(accounts_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Post', new_post_path, class: "nav-link #{active_class(new_post_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Story', new_story_path, class: "nav-link #{active_class(new_story_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', account_path(current_account), class: "nav-link #{active_class(account_path(current_account))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_account_session_path, method: :delete, class: "nav-link #{active_class(destroy_account_session_path)}" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_account_session_path, class: "nav-link #{active_class(new_account_session_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_account_session_path, method: :delete, class: "nav-link #{active_class(destroy_account_session_path)}" %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
